@{
ViewData["Title"] = "Us and the Trains";
}

<div class="text-center m-md-5 m-lg-5">
    <p>
        We are a leading company in the train construction industry both cargo and passenger type. Our brand is widely known 
        in pretty much every country in the world - Germany, Switzerland, France, Sweden, Spain and a lot more trust us and our 
        experience in building good, comfortable and reliable trains for their needs. We offer revolutionary suspension systems 
        for our cargo train cars which could withstand almost every weight you put on (Yes! Even of your wife!). The locking mechanisms 
        are the best and without analogue in the world relaying on powerful electric magnets. In our passenger wagons we offer 
        a vast amount of extras from which of course you can choose those you want. Our locomotives are in the leading postitions
        of realiability. We still don't have a faster train than the Japanese 'Maglev' but with our new model that will come out 
        soon we will probably be faster. Fast as the order you can make on our website! Chuew-chuew!
    </p>
</div>
