@{
    ViewData["Title"] = "Trains For Green Future";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3 class="display-6">to the most innovative train platform in the world.</h3>
    <h3 class="display-6">We were building trains for more than a hundred years and have big traditions in this industry.</h3>
    <p>Learn more about us <a href="/Home/About">here</a>.</p>
</div>

