@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Our first, main and only rule is Do not try to build a train at home. We are trained professionals and know what we are doing.</p>
