@model List<TrainsGenericViewModel>
@{

    ViewBag.Title = "Trains";
}
<h1 class="text-center mt-2">Our Trains</h1>
<div class="row mt-4 mb-6">
    @foreach (var train in @Model)
    {
        <partial name="_TrainsGenericPartial" model="@train" />
    }
@*
    <div class="card col-6 col-lg-3 game-card">
        <img src="~/images/locomotives.png" class="card-img-top img-fluid card-image rounded"
             alt="Responsive image"
             data-toggle="tooltip"
             data-placement="bottom" title="Locomotives">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-center">Locomotives</li>
                <li class="list-group-item">
                    <span class="bg-green col-sm">Available: 0</span>
                </li>
            </ul>
            <a href="/Locomotives/All" class="btn btn-block btn-primary">Locomotives</a>
        </div>
    </div>

    <div class="card col-6 col-lg-3 game-card">
        <img src="~/images/traincars.png" class="card-img-top img-fluid card-image rounded"
             alt="Responsive image"
             data-toggle="tooltip"
             data-placement="bottom" title="Train Cars">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-center">Train Cars</li>
                <li class="list-group-item">
                    <span class="bg-green col-sm">Available: 0</span>
                </li>
            </ul>
            <a href="/TrainCars/All" class="btn btn-block btn-primary">Train Cars</a>
        </div>
    </div>

    <div class="card col-6 col-lg-3 game-card">
        <img src="~/images/trains.png" class="card-img-top img-fluid card-image rounded"
             alt="Responsive image"
             data-toggle="tooltip"
             data-placement="bottom" title="Trains">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-center">Trains</li>
                <li class="list-group-item">
                    <span class="bg-green col-sm">Available: 0</span>
                </li>
            </ul>
            <a href="/Trains/All" class="btn btn-block btn-primary">Trains</a>
        </div>
    </div>*@

</div>
