@model IEnumerable<TrainsGenericViewModel>
@{

    ViewBag.Title = "Trains";
}
<h1 class="text-center mt-2">Our Trains</h1>

<div class="row mt-4 mb-6 ">

        <partial name="_TrainsGenericPartial" model="@Model" />

</div>

