@using TrainsForGreenFuture.Infrastructure.Data.Models.Enum
@model IEnumerable<OrderViewModel>

<h1>All Orders</h1>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Customer/Company</th>
            <th scope="col">Id</th>
            <th scope="col">Category</th>
            <th scope="col">Year</th>
            <th scope="col">Model</th>
            <th scope="col">Series</th>            
            <th scope="col">Category</th>            
            <th scope="col">Seats</th>
            <th scope="col">Luxury level</th>
            <th scope="col">Count</th>
            <th scope="col">Price</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
             if (order.OrderType == OrderType.Locomotive)
            {
                <partial name="_LocomotiveOrderPartial" model="@order" />
            }
            else if(order.OrderType == OrderType.TrainCar)
            {
                <partial name="_TrainCarOrderPartial" model="@order" />
            }
            else if(order.OrderType == OrderType.Train)
            {
                <partial name="_TrainOrderPartial" model="@order" />
            }
        }
    </tbody>
</table>