@using TrainsForGreenFuture.Areas.Admin.Models.Renovations
@model RenovationAdminPictureFormModel

@{
    ViewBag.Title = "Upload Picture";
}

<h1 class="text-center mt-2">Upload renovation picture.</h1>

<div class="row mt-3">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <div class="form-group">
                <label asp-for="RenovationPicture">Picture URL</label>
                <input asp-for="RenovationPicture" class="form-control" placeholder="Put a link to the renovated machine...">
                <span asp-validation-for="RenovationPicture" class="small text-danger"></span>
            </div>
            <input class="btn btn-primary mt-3" type="submit" value="Upload" />
            <a asp-area="Admin" asp-controller="Renovations" asp-action="All" asp-route-id="" class="btn btn-danger mt-3" style="width: 200px; height: auto; float: right;">Back</a>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}