@model IEnumerable<OrderViewModel>

@{
    ViewBag.Title = "My Orders";
}
<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Delivery In</th>
            <th scope="col">Category</th>
            <th scope="col">Year</th>
            <th scope="col">Model</th>
            <th scope="col">Series</th>
            <th scope="col">Interrail</th>
            <th scope="col">Count</th>
            <th scope="col">Price</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            if (order.OrderType == "Locomotive")
            {
                <partial name="_LocomotiveOrderPartial" model="@order" />
            }
        }
    </tbody>
</table>


@if (@Model.Count() == 0)
{
    <h2>There are no orders yet.</h2>
}